/*! style.css */
.container {
	margin: 0 auto 44px;
	width: 90%;
}

.logo-container {
	height: 76px;
	padding: 19px 0 12px;
	text-align: center;
}

.logo-container-light {
	margin: 0;
	padding: 0;
}

.logo {
	height: 40px;
	width: 259px;
}

.titolo {
	background-color: #1d1d1d;
	color: #FFF;	
	font-family: 'Raleway', sans-serif;
	margin-bottom: 60px;
	text-align: center;
}

.titolo h3 {
	font-size: 24px;
	padding: 1px;
}

.testo {
	font-family: 'Raleway', sans-serif;
	font-size: 22px;
	text-align: center;
}

.micronative-promo {
	display: block;
	height: 681px;
	margin: 0 auto;
	width: 650px;
}

.form {
	margin: 0 auto;
	padding: 15px 0 80px;
	width: 33%;
}

.form-titolo {
	margin-bottom: 20px;
}

.validation-message {
	font-size: 0.75rem;
	line-height: 1rem;
}

.privacy-div {
	float: left;
	font-weight: bold;
	padding-top: 14px;
	width: 55%;
}

.privacy-div a {
	color: #1b1b1b;
	text-decoration: none;
}

#privacy {
	cursor: pointer;
	height: 20px;
	width: 20px;
}

.center {
	text-align: center;
}

.footer {
	padding: 56px 0;
}

/* Forms */

form,
form div,
form span {
	background: 0 0;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	outline: 0;
}

form span {
	position: relative;
}

input[type="text"],
input[type="email"] {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #e5e5e5;
	border-radius: 0;
	box-sizing: border-box;
	color: #1b1b1b;
	cursor: text;
	font-size: 15px;
	line-height: 20px;
	margin: 0 0 20px;
	outline: 0;
	padding: 13px 5px 13px 0;
	position: relative;
	transition: border-color .2s ease-in-out;
	width: 100%;
}

input[type="text"]:focus,
input[type="email"]:focus {
	border-bottom: 1px solid #1b1b1b;
}

input[type="submit"] {
	background-color: #363636;
	border: 1px solid transparent;
	border-radius: 25px;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	float: right;
	font-size: 11px;
	font-weight: 600;
	letter-spacing: .2em;
	line-height: 2em;
	margin: 0;
	outline: 0;
	padding: 15px 43px;
	position: relative;
	text-transform: uppercase;
	transition: color .2s ease-in-out,background-color .2s ease-in-out,border-color .2s ease-in-out;
	width: auto;
}

/* Text color */

.text-green {
	color: #327a4b;
}

.text-bordered-green {
	border-color: #327a4b;
}

.text-red {
	color: #ef4444;
}

.text-bordered-red {
	border-color: #ef4444;
}

.validation-error {
	margin-bottom: 15px !important;
}

.text-final-result {
	border-style: solid;
	border-width: 2px;
	font-size: 15px;
	font-style: bold;
	margin: 0 auto 20px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

@media screen and (max-width: 649px) {
	.container {
		margin-bottom: 0;
	}
	
	.titolo h3 {
		font-size: 16px;
	}
	
	.testo {
		font-size: 15px;
	}
	
	.micronative-promo {
		height: auto;
		width: 75%;
	}
	
	.footer .center {
		font-size: 12px;
	}
}
